.onlogin {
    /* display: none; */
}

.unlogin {
    /* display: none; */
}

#rounded-corner {
    text-align: center;
}

.sidebar>form {
    margin-left: 15px;
}

tbody {
    display: block;
    height: 460px;
    overflow: auto;
    text-align: center;
}

thead,
tbody tr {
    display: table;
    width: 100%;
    table-layout: fixed;
}

::-webkit-scrollbar {
    display: none;
}

.center_content {
    height: 100%;
    padding-bottom: 0px;
}

#right_content {
    height: 100%;
}

/* a标签鼠标事件 */

a:hover {
    color: #0064b0;
}


.main_left,
.main_right {
    display: inline-block;
}

#wrong {
    display: none;
    color: red;
}

/* chat聊天 */
.chat-box {
    width: 400px;
    height: 500px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: none;
    z-index: 9999;
    /* 设置 z-index 以确保置顶显示 */
    overflow-y: auto;
    /* 添加垂直滚动条 */
}

.chat-box.active {
    display: block;
}


.chat-button {
    position: fixed;
    left: -50px;
    top: 50%;
    transform: translateY(-50%);
    background-color: #bad7e6;
    color: #22425e;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    z-index: 9999;
    transition: left 0.3s ease;
    /* 添加过渡效果 */
}

.chat-button:hover {
    left: 5px;
    /* 鼠标悬停时按钮向右移出 */
}

.chat-box {
    position: fixed;
    left: 20px;
    bottom: 20px;
    width: 400px;
    height: 500px;
    background-color: #f0f0f0;
    border: 1px solid #ccc;
    border-radius: 10px;
    display: none;
}

.chat-header {
    background-color: #bad7e6;
    color: #22425e;
    height: 25px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.close-button {
    cursor: pointer;
}

.chat-content {
    padding: 10px;
    height: calc(100% - 80px);
    overflow-y: auto;
}

.chat-footer {
    display: flex;
    align-items: center;
    padding: 1px;
    border-top: 1px solid #ccc;
}

.chat-footer input[type="text"] {
    flex: 1;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.chat-footer button {
    padding: 8px 15px;
    background-color: #bad7e6;
    color: #22425e;
    border: none;
    border-radius: 5px;
    margin-left: 10px;
    cursor: pointer;
}

.message {
    max-width: 80%;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 10px;
    clear: both;
    overflow-wrap: break-word;
}

.sent {
    background-color: #bad7e6;
    color: #22425e;
    float: right;
    border-top-right-radius: 0;
}

.received {
    background-color: #f0f0f0;
    color: #333;
    float: left;
    border-top-left-radius: 0;
}

.sender {
    font-size: 20px;
    white-space: pre-line;
}

#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* 半透明黑色背景 */
    z-index: 9999; /* 确保遮罩层位于最顶层 */
    display: none; /* 默认隐藏 */
}

#loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -60px;
    margin-left: -60px;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#loading-text {
    position: absolute;
    top: 70%;
    left: 51%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 18px;
}
